* {
  box-sizing: border-box;
}

/* html {
  font-size: 16px;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 10px;
  }
} */



div {
  /* font-weight: 600; */
  height: 10rem;
  border: solid 2px;
  font-size: 1.2rem;
  padding: 10px 20px 30px 40px;
}

.bold {
  font-weight: 600;
}

#main {
  background-color: bisque;
}

input[type='text'] {
}